%br
%br
%br
%br
%br
THE END
%br
%br
%br
%br
%br
%br
%br
Ruby Koans has heightened your awareness.
%div#rotateTeam
  - edgecaser_images.shuffle.each do |image_link|
    %img{:src => "http://edgecase.com/#{image_link}"}
%div#teamLabel
  %a{:href => 'http://edgecase.com/about', :target => '_blank'}THE TEAM
