!!! 5
%html
  %head
    %title Ruby Metaprogramming Koans Online
    %link{:href => '/styles.css', :media => 'screen', :type => 'text/css', :rel => 'stylesheet'}
    %script{:src => '/javascripts/jquery-1.4.4.min.js'}
    - if @end
      %script{:src => "http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"}
    %script{:src => '/javascripts/koans.js'}
  %body
    #top_line
    %h1
      Learn Ruby Metaprogramming
      %span
        with
        %a{:href => "https://github.com/sathish316/metaprogramming_koans"} Metaprogramming Koans

    %h2= current_koan_name
    = yield
